label{
    margin-top: 10px;
}
input{
    margin: 10px;
}
button{
    margin: 20px;
    padding: 10px;
    background-color: greenyellow;
    border-radius: 5px;
}
.btn{
    display: flex;
    justify-content: center;
}
form{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    margin: 0 auto;
}
/* input{
    padding: 10px;
}
select{
    padding: 10px;
} */